/* Home Page */
.home {
    padding: 20px;
    display: flex;
    justify-content: center; /* Center the contactContainer horizontally */
    align-items: center; /* Ensures it's centered vertically */
    height: 80vh; /* Takes the full viewport height */
}
  
  /* Contact Container */
.contactContainer {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 100%; /* Take up full height inside parent */
  max-height: 80vh; /* Prevents overflow */
  width: 30%;
  padding: 10px;
  border-radius: 10px; /* Optional: Adds rounded corners */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
  
  /* Contacts Section */
  .contacts {
    flex-grow: 1; /* Allows it to take available space */
    overflow-y: auto; /* Enables scrolling */
    padding: 20px;
    max-height: calc(80vh - 50px); /* Adjusted max height */
  }
  
  /* Online Contacts */
  .onlineContacts ul {
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
  }
  
  .onlineContacts ul li {
    text-align: left; /* Align text to the left */
    padding: 30px 0; /* Spacing between contacts */
    border-bottom: 1px solid #ddd; /* Line under each contact */
    font-size: 20px; /* Adjust font size */
  }
  
  /* Offline Contacts */
  .offlineContacts ul {
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
  }
  
  /* Offline Contacts */
  .offlineContacts ul li {
    text-align: left; /* Align text to the left */
    padding: 30px 0; /* Spacing between contacts */
    border-bottom: 1px solid #ddd; /* Line under each contact */
    font-size: 20px; /* Adjust font size */
  }
  
  .contactItem {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures items align to the left and right */
    padding: 8px 0;
  }
  
  .contactActions {
    display: flex;
    gap: 8px; /* Adds space between the buttons */
  }
  
  .actionButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .actionImage {
    width: 40px; /* Adjust size */
    height: 40px;
  }